/* ===========================================
   Automated CI/CD Pipeline
   Author : Dayanand C K
=========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{

    background:#f5f7fb;
    color:#333;
    overflow-x:hidden;

}

/* Navbar */

.navbar{

    transition:.3s;

}

.navbar-brand{

    font-size:1.4rem;
    letter-spacing:1px;

}

/* Hero */

section:first-of-type{

background:linear-gradient(135deg,#0f172a,#1e293b,#2563eb);

color:white;

padding:110px 0;

}

section:first-of-type h1{

font-weight:700;

font-size:3.2rem;

}

section:first-of-type p{

font-size:1.1rem;

}

/* Buttons */

.btn{

transition:.3s;

border-radius:30px;

padding:10px 25px;

font-weight:600;

}

.btn:hover{

transform:translateY(-4px);

}

/* Cards */

.card{

border:none;

border-radius:20px;

transition:.4s;

overflow:hidden;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.card-body h1{

font-size:3rem;

margin-bottom:15px;

}

/* Technology */

.bg-light{

background:#eef3ff !important;

}

.bg-light .card{

background:white;

font-weight:600;

}

/* Footer */

footer{

margin-top:80px;

}

footer h4{

font-weight:700;

}

footer a{

transition:.3s;

}

footer a:hover{

color:#0dcaf0 !important;

padding-left:6px;

}

/* API Button */

.btn-success{

background:#16a34a;

border:none;

}

.btn-success:hover{

background:#15803d;

}

/* Animations */

.card{

animation:fadeUp .8s ease;

}

@keyframes fadeUp{

0%{

opacity:0;

transform:translateY(40px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

/* Scrollbar */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-thumb{

background:#2563eb;

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#dbeafe;

}

/* Responsive */

@media(max-width:768px){

section:first-of-type h1{

font-size:2.2rem;

}

.card{

margin-bottom:20px;

}

}